<app-header></app-header>
<div class="flex flex-row">
  <div class="basis-1/12">
    <app-navbar></app-navbar>
  </div>
  <div class="basis-11/12 border border-orange-200 p-5">
      <div class="p-4">
          <div>
              <span class="text-xl font-medium text-orange-500">Create Customer</span>
          </div>
          <div class="mt-10">
              <span class="text-lg">Demographic Info</span>
              <hr class="mt-4">
          </div>
          <div class="p-4">
                          <div class="flex flex-row space-x-4">
                <div class="mt-3 w-full">
                    <div class="mb-1 text-neutral-400">Username*</div>
                    <input [(ngModel)]="user.userName" type="text" class="form-input rounded-full w-full" placeholder="Username.." />
                </div>
    
                <div class="mt-3 w-full">
                    <div class="mb-1 text-neutral-400">Surname*</div>
                    <input [(ngModel)]="user.userSurname" type="text" class="form-input rounded-full w-full"
                        placeholder="Surname.." />
                </div>
            </div>
    
            <div class="flex flex-row space-x-4">
                <div class="mt-3 w-full">
                    <div class="mb-1 text-neutral-400">Email*</div>
                    <input [(ngModel)]="user.userEmail" type="text" class="form-input rounded-full w-full"
                        placeholder="Email.." />
                </div>
    
                <div class="mt-3 w-full">
                    <div class="mb-1 text-neutral-400">Phone*</div>
                    <input [(ngModel)]="user.userPhone" type="text" class="form-input rounded-full w-full"
                        placeholder="Phone.." />
                </div>
            </div>
            <div class="flex flex-row space-x-4">
                <div class="mt-3 w-full">
                    <div class="mb-1 text-neutral-400">Password*</div>
                    <input [(ngModel)]="password" id="password" name="password" type="password" class="form-input rounded-full w-1/2"
                        placeholder="Password.." />
                        <span class="p-2">
                            <fa-icon onclick="pass()" class="text-xl" id="faIcon" [icon]="faEye"></fa-icon>
                       </span>
                </div>
          </div>
          <div class="text-center mt-5">
              <button (click)="fncRegister()" class="mt-3 px-5 py-3 rounded bg-orange-300 hover:bg-orange-500 text-white w-1/4">Create</button>
          </div>
          </div>

  </div>
</div>